@import url("https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lilex", monospace;
  color: black;
}

body {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.header {
  background-color: #f1f1f3;
  margin-bottom: 32px;
  padding: 16px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 0 black;
}

.side-bar {
  margin-left: 32px;
  min-width: 300px;
  max-width: 300px;
}

.side-by-side {
  display: flex;
}

.container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 0px 32px;
}
.stacked {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.example-img {
  width: 600px;
  height: 400px;
  background-color: blueviolet;
  margin: 0 auto;
}

#side-bar-ul {
  outline: solid 1px black;
}

ul {
  list-style-type: none;
  padding: 16px;
  background-color: #f1f1f3;
  margin: 0;
}

ul ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

a {
  text-decoration: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.clickable:hover,
a:hover,
button:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.no-padding-no-margin {
  padding: 0;
  margin: 0;
}

.big-font {
  font-size: 24px;
}

.med-font {
  font-size: 16px;
}

.small-font {
  font-size: 14px;
}

.copyright {
  color: #979799;
  text-align: center;
  margin: 0 auto;
}

.description {
  max-width: 50vw;
}

.selected {
  background-color: white;
  padding: 8px;
  outline: solid 1px black;
}
.selected:hover {
  background-color: white;
  cursor: default;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  display: none;
}

.form-complete,
.contact-form {
  display: none;
}

.active {
  display: flex;
}

.contact-modal {
  background-color: white;
  width: 90vw;
  max-width: 500px;
  padding: 16px;
}

input {
  width: 50%;
  border-radius: 0%;
  border: 1px solid black;
}

input:focus,
textarea:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

textarea {
  width: 100%;
  height: 200px;
  border-radius: 0%;
  resize: vertical;
}

.between-children {
  display: flex;
  justify-content: space-between;
}

.right-side {
  display: flex;
  justify-content: flex-end;
}
